<div *ngIf="pelisBuscadas != null && pelisBuscadas.length != 0">
    <h1>{{ title }}</h1>
    <hr>
</div>


<div class="card-columns" *ngIf="pelisBuscadas != null || pelisBuscadas.length != 0">

    <app-peli-tarjeta [peli]="peli" [index]="i" *ngFor="let peli of pelisBuscadas; let i = index"></app-peli-tarjeta>



</div>

<div class="jumbotron jumbotron-fluid animated fadeIn fast" *ngIf="pelisBuscadas == null || pelisBuscadas.length == 0">

    <div class="container">
        <h1 class="display-4">No hay resultados para {{ texto }}</h1>
    </div>

</div>