<h1 class="animated fadeIn"> {{ peli.title | uppercase }} <small> ({{ peli.release_date | date:'y' }}) </small></h1>

<hr>
<div class="row animated fadeIn fast">

    <div class="col-md-4">

        <img [src]="peli | peliculaImagen" class="img-fluid" [alt]="peli.title">
        <br><br>
        <a [routerLink]="['/' + regresarA, busqueda]" class="btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-7">
        <h3>Sinopsis</h3>
        <hr>
        <p class="text-justify">{{ peli.overview }}</p>
        <h4>Frase celebre</h4>
        <p>{{ peli.tagline }}</p>
        <hr>
        <p>
            Popularidad: <span class="badge badge-primary">{{ peli.popularity | number:'.0-0' }}/10</span>
            <br> Votos promedio: <span class="badge badge-primary">{{ peli.vote_average }}</span>
        </p>
        <div *ngIf="peli.genres != null">
            Generos:
            <br><br>
            <ul>
                <p *ngFor="let genre of peli.genres">
                    <li>{{ genre.name }}</li>
                </p>
            </ul>
        </div>

    </div>


</div>